@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Josefin+Sans&family=Ubuntu&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@1,400;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
}
.nav{
    background-color: #535859;
    width: 100%;
    padding-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
.text{
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    letter-spacing: 0.09em;    
}
.text1{
    color: #a8e9f5;
    padding: 5px;
    text-decoration: none;
    letter-spacing: 0.09em; 
}
.text:hover{
    background-color: rgb(253, 253, 253);
    color: #191c32;
    transition: ease-in .4s;
}
.hed{
    background: rgb(51, 77, 72);
    position: static;    
}
